---
const { title } = Astro.props
import Nav from '../components/Nav.vue'
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta 
        name="description"
        content="vue-astro setup"
    />
    <meta title={title}/>
    <title>Document</title>
</head>
    <body>
        <main>
            <Nav/>
            <slot />
            <!-- all the different pages to be rendered here -->
        </main>
    </body>
</html>