---
import '@/styles/globals.css'
import { Button } from "@/components/ui/button"

import Nav from '../components/Nav.vue'
import MainLayout from '../layouts/main-layout.astro'
---

<MainLayout>
<h1>Hello There!</h1>
    
<Button><a href="/about">This is About page</a></Button>

