---
import Nav from '../components/Nav.vue'
import MainLayout from '../layouts/main-layout.astro'
---

<MainLayout>
    <h1>Hello There!</h1>
    <a href="/about">This is About page</a>
</MainLayout>
